@charset "UTF-8";
.left {
    float: right;
}

.right {
    float: right;
    -ms-flex-item-align: end;
    align-self: flex-end;
    text-align: right;
}

@font-face {
    font-family: 'charterbold_italic';
    src: url("/assets/fonts/charter/charter_bold_italic-webfont.eot");
    src: url("/assets/fonts/charter/charter_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/charter/charter_bold_italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterbold';
    src: url("/assets/fonts/charter/charter_bold-webfont.eot");
    src: url("/assets/fonts/charter/charter_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/charter/charter_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charteritalic';
    src: url("/assets/fonts/charter/charter_italic-webfont.eot");
    src: url("/assets/fonts/charter/charter_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/charter/charter_italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterregular';
    src: url("/assets/fonts/charter/charter_regular-webfont.eot");
    src: url("/assets/fonts/charter/charter_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/charter/charter_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meslo_lg_sregular';
    src: url("/assets/fonts/meslo/meslolgs-regular-webfont.eot");
    src: url("/assets/fonts/meslo/meslolgs-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/meslo/meslolgs-regular-webfont.woff2") format("woff2"), url("/assets/fonts/meslo/meslolgs-regular-webfont.woff") format("woff"), url("/assets/fonts/meslo/meslolgs-regular-webfont.ttf") format("truetype"), url("/assets/fonts/meslo/meslolgs-regular-webfont.svg#meslo_lg_sregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meslo_lg_sitalic';
    src: url("/assets/fonts/meslo/meslolgs-italic-webfont.eot");
    src: url("/assets/fonts/meslo/meslolgs-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/meslo/meslolgs-italic-webfont.woff2") format("woff2"), url("/assets/fonts/meslo/meslolgs-italic-webfont.woff") format("woff"), url("/assets/fonts/meslo/meslolgs-italic-webfont.ttf") format("truetype"), url("/assets/fonts/meslo/meslolgs-italic-webfont.svg#meslo_lg_sitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meslo_lg_sbold_italic';
    src: url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.eot");
    src: url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.woff2") format("woff2"), url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.woff") format("woff"), url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.ttf") format("truetype"), url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.svg#meslo_lg_sbold_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meslo_lg_sbold';
    src: url("/assets/fonts/meslo/meslolgs-bold-webfont.eot");
    src: url("/assets/fonts/meslo/meslolgs-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/meslo/meslolgs-bold-webfont.woff2") format("woff2"), url("/assets/fonts/meslo/meslolgs-bold-webfont.woff") format("woff"), url("/assets/fonts/meslo/meslolgs-bold-webfont.ttf") format("truetype"), url("/assets/fonts/meslo/meslolgs-bold-webfont.svg#meslo_lg_sbold") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    padding: 20px 40px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
html {
    font-family: "charterregular", "Georgia", serif;
    background-color: #ffffff;
    letter-spacing: 0.01rem;
    color: #171726;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
}

@media screen and (max-width: 1440px) {
    body,
    html {
        overflow-y: auto;
        /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 90%;
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 88%;
    }
}

@media screen and (max-width: 960px) {
    html {
        font-size: 86%;
    }
}

body {
    font-size: 1rem;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.hidden {
    display: none;
}

*::-moz-selection,
mark,
 :target {
    background: #F4EBD7;
}

*::selection,
mark,
 :target {
    background: #F4EBD7;
}

mark,
 :target {
    padding: 0.4rem;
}

*::-moz-selection mark,
*::-moz-selection+mark {
    background-color: none;
}

*::selection mark,
*::selection+mark {
    background-color: none;
}

.container {
    max-width: 1520px;
    min-width: 360px;
    min-height: 100%;
    margin: 0 auto;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
}

h2:first-child {
    margin-top: 0;
}

section {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}

section>*,
section>blockquote>* {
    margin-bottom: 0.7rem;
    max-width: 100%;
    overflow: auto;
}

section>*>li,
section>blockquote>*>li {
    margin-bottom: 0.7rem;
}

section>*:last-child:not(h2),
section>blockquote>*:last-child:not(h2) {
    margin-bottom: 0;
}


section.narrow {
    margin-right: 40px;
    min-width: 0;
    width: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
}

section.narrow:last-of-type {
    margin-right: 0;
}

section:first-child h3 {
    margin-top: 0;
}

header {
    padding-bottom: 40px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    min-height: 2.3rem;
    display: block;
}

header::after {
    clear: both;
    content: "";
    display: table;
}

header.brand {
    width: 100%;
    line-height: 2.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header.brand .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-right: 10px;
}

header.brand .icons {
    text-align: left;
}

header.brand .icons>* {
    margin-right: 1rem;
}

header.brand .icons>*:last-child {
    margin-right: 0;
}

.gutter {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 80px;
    flex: 1 1 80px;
    min-width: 80px;
    max-width: 120px;
    max-height: 0px;
}

footer {
    display: none;
    padding-top: 80px;
    width: 100%;
    margin: 0 auto;
}

nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

nav #lede {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

nav footer {
    display: block;
}

#page {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

#page header,
#page article {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#page header::after,
#page article::after {
    clear: both;
    content: "";
    display: table;
}

#page header {
    min-height: 2.8rem;
}

#page header aside {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#page header h1 {
    display: inline-block;
}

#page header h2.subtitle {
    margin-top: 0.3rem;
}

#page header hgroup {
    margin-top: -0.15rem;
    margin-bottom: 0;
}

#page header hgroup>* {
    display: block;
    margin-bottom: 0;
}

#page article {
    margin-top: 40px;
}

#page article header {
    min-height: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
}

#page article:first-of-type {
    margin-top: 0;
}

#page article.nohead {
    padding-top: 6.3rem;
}

#page .main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 360px;
    flex: 1 1 360px;
    max-width: 480px;
    min-width: 360px;
}

#page aside {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#page .table-container.narrow-table {
    display: none;
}

#page .table-container.wide-table {
    display: block;
}

#page.full header,
#page.full article section>*:not(.overflow):not(.table-container) {
    max-width: 720px;
    overflow: auto;
}

#page.full article section>.overflow {
    max-width: 100%;
}

#page.full .main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 100%;
    min-width: 100%;
}

#page.full header hgroup {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

#page.full header .gutter {
    display: none;
}

#page.full article aside {
    display: none;
}

#page form label {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    padding-bottom: 0.5rem;
}

#page form input[type="text"],
#page form input[type="email"] {
    min-width: 100px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100px;
    flex: 1 0 100px;
}

#page input[type="submit"],
#page button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 1.5rem;
}

@media screen and (max-width: 1340px) {
    .container {
        max-width: 1060px;
        margin: 0 auto;
    }
    hr {
        display: block !important;
    }
    hr.mobile {
        display: block !important;
    }
    .table-container.narrow-table {
        display: block !important;
    }
    .table-container.wide-table {
        display: none !important;
    }
    header .gutter,
    article .gutter {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        display: none;
    }
    #page header .main {
        min-width: auto;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    #page header .date {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 30px;
        width: 100%;
    }
    article {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    article .main {
        max-width: 100%;
        min-width: 100% !important;
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-bottom: 0;
    }
    article .main~aside {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 360px;
        flex: 1 1 360px;
        margin-top: 40px;
    }
    article aside {
        min-width: 100%;
        min-width: 100%;
        width: 100%;
    }
    article.flip .main~aside {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 40px !important;
        margin-top: 0;
    }
    article.flip .main {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding-top: 0;
    }
    #page,
    footer {
        max-width: 480px;
        min-width: 360px;
    }
    #page.full header,
    #page.full article section>* {
        max-width: 100%;
        overflow: auto;
    }
}

@media screen and (max-width: 880px) {
    hr.mobile {
        display: block !important;
    }
    #lede,
    nav footer {
        display: none !important;
    }
    .container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 30px !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .container>* {
        margin: 0 auto;
    }
    .container#index {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    }
    .container#index nav {
        margin: 0 auto !important;
    }
    .container#index .gutter,
    .container#index footer,
    .container#index #page {
        display: none;
    }
    .container#index #lede {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .container#index nav footer {
        display: block !important;
    }
    .gutter {
        display: none;
    }
    nav {
        width: 100%;
        max-width: 480px;
    }
    #page header {
        padding-bottom: 30px;
    }
    #page header .date {
        padding-top: 20px;
    }
    #page {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 100%;
    }
    #page article {
        width: 100%;
        margin-top: 30px;
    }
    #page article .main~aside {
        margin-top: 0;
    }
    #page article:first-of-type {
        margin-top: 0;
    }
    #page article.nohead {
        padding-top: 0;
    }
    #page article .main {
        margin-bottom: 2.5rem;
    }
    #page article header {
        min-height: 0;
        padding-bottom: 22.5px;
    }
    #page article.flip aside {
        margin-bottom: 30px;
    }
    #page article.flip .main {
        padding-top: 0;
        margin-bottom: 0;
    }
    h2 {
        margin-top: 30px;
    }
    h2:first-child {
        margin-top: 0;
    }
    section.hide {
        display: none;
    }
    section h2 {
        margin-bottom: 15px;
    }
    section h2:first-child {
        margin-top: 30px;
    }
    section:first-child h2 {
        margin-top: 0;
    }
    section h3 {
        margin-top: 30px;
    }
    input[type="text"],
    input[type="email"] {
        padding: 0 1rem !important;
        min-width: 70px !important;
        -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 70px !important;
        flex: 1 0 70px !important;
    }
    input[type="submit"],
    button {
        width: 100px !important;
        margin-left: 1rem !important;
        font-size: 0.9rem !important;
    }
    footer {
        display: block;
        padding-top: 60px;
    }
    #page,
    footer {
        max-width: 480px;
        min-width: 0;
    }
}

script {
    display: none !important;
    width: 0;
    height: 0;
}

a {
    text-decoration: underline;
    color: inherit;
    outline: none;
    color: #171726;
    font-family: "charterregular", "Georgia", serif;
    font-style: normal;
    cursor: pointer;
    display: inline;
    overflow: visible;
    position: relative;
}

a:hover,
a:active,
a:visited,
a:focus {
    outline: none;
}

a.light {
    color: #A9ACB5;
    text-decoration: none;
}

a.light:hover {
    text-decoration: underline;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

section::after {
    clear: both;
    content: "";
    display: table;
}

section>*:not(script):not(.table-container) {
    display: block;
}

nav .nav-item {
    text-decoration: none;
    display: inline-block;
}

nav .nav-item.active {
    font-weight: 300;
    font-family: "charterbold", "Georgia", serif;
}

nav .nav-item.active:before {
    content: "\25BA";
    font-size: 0.7rem;
    color: #DF2120;
    position: absolute;
    left: -1rem;
    padding-top: 0.05rem;
    opacity: 1;
}

nav .nav-item:hover:before {
    content: "\25BA";
    font-size: 0.7rem;
    color: #DF2120;
    position: absolute;
    left: -1rem;
    padding-top: 0.05rem;
    opacity: 0.3;
}

hr {
    display: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #a9acb5;
    margin-bottom: 40px;
    opacity: 0.2;
}

hr:last-child {
    margin-bottom: 0;
}

br {
    margin-bottom: 40px;
}

sup,
sub {
    font-size: 0.8rem;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

ol,
ul {
    list-style-position: outside;
}

ol.accessory,
ul.accessory {
    padding-left: 2rem;
}

ol>li a,
ul>li a {
    display: inline-block;
}

ol {
    list-style-type: upper-roman;
    counter-reset: item;
}

ol.accessory>li:before {
    content: counter(item, upper-roman) ". ";
    counter-increment: item;
    color: #A9ACB5;
    position: absolute;
    text-align: right;
    left: -2rem;
    width: 1.5rem;
    font-size: 0.9rem;
}

ul.accessory>li:before {
    content: "◆";
    color: #A9ACB5;
    position: absolute;
    text-align: right;
    left: -2rem;
    width: 1.5rem;
    font-size: 0.9rem;
}

ul.inline {
    padding-left: 0;
}

ul.inline>* {
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
}

ul.inline>*:last-child {
    margin-right: 0;
}

ul.inline>*:before,
ul.inline>*:last-child:after {
    content: none;
    display: none;
}

ul.inline>*:after {
    position: absolute;
    content: ',';
    top: 0;
    right: -0.32rem;
}

li.emphasize {
    font-family: "charterbold", "Georgia", serif;
    font-weight: 300;
}

li.emphasize .detail {
    font-family: "charterbold_italic", "Georgia", serif;
    font-style: italic;
    font-weight: 300;
}

h1,
h2,
h3 {
    overflow: visible !important;
}

h1 {
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    font-size: 1.25rem;
    margin: 10px 0;
}

hgroup>h1 {
    line-height: 1.5rem;
}

.date {
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    color: #A9ACB5;
    text-align: right;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

h2 {
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    color: #A9ACB5;
    font-size: 1.07rem;
    margin: 10px 0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 30px 0;
    font-family: "charterbold", "Georgia", serif;
}

hgroup>h2.subtitle {
    line-height: 1.32rem;
}

h4 {
    text-transform: lowercase;
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    color: #A9ACB5;
    font-size: 0.9rem;
    margin: 10px 0;
    overflow: visible;
}

p,
form label,
li {
    position: relative;
    display: block;
    overflow: visible;
    line-height: 1.6rem;
    letter-spacing: 0.01rem;
}

code {
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    font-size: 0.9rem;
}

form {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

form input {
    height: 2.5rem;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #171726;
    border-radius: 4px;
}

form input[type="text"],
form input[type="email"] {
    padding: 0 1rem;
    background-color: #ffffff;
    border: 1px solid #A9ACB5;
}

form input[type="text"]:focus,
form input[type="email"]:focus {
    border: 1px solid #171726;
}

input[type="submit"],
button {
    cursor: pointer;
    width: 120px;
    color: #171726;
    font-weight: 500;
    font-family: "SF Mono", "meslo_lg_sbold", "Menlo", "Source Code Pro", monospace;
    font-size: 1rem;
    color: #ffffff;
    background-color: #171726;
}

#page.full article section .table-container {
    z-index: 1;
    overflow-y: hidden;
    position: relative;
    overflow-x: auto;
}

table {
    position: relative;
    text-transform: lowercase;
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    font-size: 0.9rem;
    display: table;
    margin-right: 1px;
    overflow: visible;
    border-spacing: 0;
    border-collapse: collapse;
}

table tbody tr:hover {
    background-color: #f3f3f3;
}

table td,
table tr td {
    border: 1px solid #A9ACB5;
}

table th {
    background-color: #ffffff;
}

table th,
table td:hover {
    font: "SF Mono", "meslo_lg_sbold", "Menlo", "Source Code Pro", monospace;
    font-weight: 300;
}

table th,
table td {
    padding: 1rem;
    position: relative;
    text-align: center;
}

table td:hover::after,
table td:focus::after {
    background-color: #f3f3f3;
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

picture {
    overflow: hidden;
}

picture>* {
    overflow: visible;
}

img.math {
    max-width: 100%;
    display: block;
}

.footnote {
    display: inline;
    position: relative;
    /* Checkbox Hack */
    /* Toggled State */
}

.footnote input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.footnote sup {
    margin-right: -0.1rem;
    margin-left: -0.1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #DF2120;
}

.footnote sup label {
    display: inline;
    cursor: pointer;
}

.footnote sup:hover {
    color: #9c1716;
}

.footnote input[type=checkbox]:checked~.note {
    display: block;
}

.footnote .note {
    display: none;
    border-left: 5px solid #F4EBD7;
    padding-left: 1.5rem;
    margin: 0.5rem 0;
    color: #787c8b;
}

.footnote .note * {
    max-width: 99%;
}

blockquote {
    border-left: 5px solid #F4EBD7;
    padding: 0.3rem 0 0.3rem 1.5rem;
    margin: 0.5rem 0;
    color: #787c8b;
}

blockquote cite {
    font-family: "charterregular", "Georgia", serif;
    font-style: normal;
    display: block;
}

blockquote cite:before {
    content: "\2014 \2009";
}

strong {
    font-weight: 300;
    font-family: "charterbold", "Georgia", serif;
}

em {
    font-family: "charteritalic", "Georgia", serif;
    font-style: italic;
}

em.detail {
    display: inline-block;
    vertical-align: baseline;
    line-height: 1.6rem;
    margin-left: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    color: #A9ACB5;
}

em strong,
strong em {
    font-weight: 300;
    font-style: italic;
    font-family: "charterbold_italic", "Georgia", serif;
}

.logo,
.logo a {
    font: 700 1.8rem "Ubuntu", "Verdana", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: inherit;
    text-decoration: none;
    text-transform: lowercase;
}

.logo:hover:after,
.logo a:hover:after {
    display: none;
}

.icon {
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    font-size: 0.9rem;
    line-height: inherit;
    text-decoration: none;
    position: relative;
}

.icon:hover {
    text-decoration: underline;
}

.twitter {
    color: #55ACEE;
}

.linkedin {
    color: #0077b5;
}

.spotify {
    color: #2EBD59;
}

.hackernews {
    color: #FF6600;
}

.github {
    color: #999999;
}

.facebook {
    color: #3B5998;
}

.keybase {
    color: #FF7100;
}

.medium {
    color: #00ab6c;
}

.visualization {
    display: block;
    width: 100%;
    overflow: visible !important;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    10% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    35% {
        -webkit-transform: scale(1, 1.7);
        transform: scale(1, 1.7);
    }
    40% {
        -webkit-transform: scale(1, 1.7);
        transform: scale(1, 1.7);
    }
    50% {
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes fade {
    10% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    35% {
        -webkit-transform: scale(1, 1.7);
        transform: scale(1, 1.7);
    }
    40% {
        -webkit-transform: scale(1, 1.7);
        transform: scale(1, 1.7);
    }
    50% {
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

[data-language] code,
[class^="lang"] code,
pre [data-language],
pre [class^="lang"] {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-animation: 50ms ease-in-out 2s forwards fade-in;
    animation: 50ms ease-in-out 2s forwards fade-in;
}

[data-language] code.rainbow,
[class^="lang"] code.rainbow,
pre [data-language].rainbow,
pre [class^="lang"].rainbow {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

[data-language] code.loading,
[class^="lang"] code.loading,
pre [data-language].loading,
pre [class^="lang"].loading {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

pre {
    position: relative;
}

pre.loading .preloader div {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

pre.loading .preloader div:nth-of-type(1) {
    background: #0081f5;
    -webkit-animation: fade 1.5s 300ms linear infinite;
    animation: fade 1.5s 300ms linear infinite;
}

pre.loading .preloader div:nth-of-type(2) {
    background: #5000f5;
    -webkit-animation: fade 1.5s 438ms linear infinite;
    animation: fade 1.5s 438ms linear infinite;
}

pre.loading .preloader div:nth-of-type(3) {
    background: #9000f5;
    -webkit-animation: fade 1.5s 577ms linear infinite;
    animation: fade 1.5s 577ms linear infinite;
}

pre.loading .preloader div:nth-of-type(4) {
    background: #f50419;
    -webkit-animation: fade 1.5s 715ms linear infinite;
    animation: fade 1.5s 715ms linear infinite;
}

pre.loading .preloader div:nth-of-type(5) {
    background: #f57900;
    -webkit-animation: fade 1.5s 853ms linear infinite;
    animation: fade 1.5s 853ms linear infinite;
}

pre.loading .preloader div:nth-of-type(6) {
    background: #f5e600;
    -webkit-animation: fade 1.5s 992ms linear infinite;
    animation: fade 1.5s 992ms linear infinite;
}

pre.loading .preloader div:nth-of-type(7) {
    background: #00f50c;
    -webkit-animation: fade 1.5s 1130ms linear infinite;
    animation: fade 1.5s 1130ms linear infinite;
}

pre .preloader {
    position: absolute;
    top: 12px;
    left: 10px;
}

pre .preloader div {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 4px;
    opacity: 0;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

pre {
    background-color: #000;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

pre,
code {
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    font-size: 0.9rem;
    line-height: 1.6rem;
    word-wrap: normal;
}

pre {
    background: #ffffff;
    color: #657b83;
}

pre .comment {
    color: #93a1a1;
}

pre .constant {
    color: #657b83;
}

pre .constant.language {
    color: #268bd2;
}

pre .constant.regexp {
    color: #2aa198;
}

pre .storage {
    color: #268bd2;
}

pre .string,
pre .comment.docstring {
    color: #2aa198;
}

pre .support.tag.script,
pre .support.tag.style {
    color: #2aa198;
}

pre .string.regexp {
    color: #2aa198;
}

pre .string.regexp.open,
pre .string.regexp.close {
    color: #2aa198;
}

pre .keyword,
pre .selector {
    color: #859900;
}

pre .inherited-class {
    font-style: italic;
}

pre .entity {
    color: #b58900;
}

pre .support.method {
    color: #657b83;
}

pre .support.property {
    color: #657b83;
}

pre .variable.global,
pre .variable.class,
pre .variable.instance {
    color: #657b83;
}

pre .support,
*[data-language="c"] .function.call {
    color: #859900;
}