@charset "UTF-8";

@font-face {
    font-family: 'charterbold_italic';
    src: url("/assets/fonts/charter/charter_bold_italic-webfont.eot");
    src: url("/assets/fonts/charter/charter_bold_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/charter/charter_bold_italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterbold';
    src: url("/assets/fonts/charter/charter_bold-webfont.eot");
    src: url("/assets/fonts/charter/charter_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/charter/charter_bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charteritalic';
    src: url("/assets/fonts/charter/charter_italic-webfont.eot");
    src: url("/assets/fonts/charter/charter_italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/charter/charter_italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterregular';
    src: url("/assets/fonts/charter/charter_regular-webfont.eot");
    src: url("/assets/fonts/charter/charter_regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/charter/charter_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meslo_lg_sregular';
    src: url("/assets/fonts/meslo/meslolgs-regular-webfont.eot");
    src: url("/assets/fonts/meslo/meslolgs-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/meslo/meslolgs-regular-webfont.woff2") format("woff2"), url("/assets/fonts/meslo/meslolgs-regular-webfont.woff") format("woff"), url("/assets/fonts/meslo/meslolgs-regular-webfont.ttf") format("truetype"), url("/assets/fonts/meslo/meslolgs-regular-webfont.svg#meslo_lg_sregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meslo_lg_sitalic';
    src: url("/assets/fonts/meslo/meslolgs-italic-webfont.eot");
    src: url("/assets/fonts/meslo/meslolgs-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/meslo/meslolgs-italic-webfont.woff2") format("woff2"), url("/assets/fonts/meslo/meslolgs-italic-webfont.woff") format("woff"), url("/assets/fonts/meslo/meslolgs-italic-webfont.ttf") format("truetype"), url("/assets/fonts/meslo/meslolgs-italic-webfont.svg#meslo_lg_sitalic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meslo_lg_sbold_italic';
    src: url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.eot");
    src: url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.woff2") format("woff2"), url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.woff") format("woff"), url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.ttf") format("truetype"), url("/assets/fonts/meslo/meslolgs-bolditalic-webfont.svg#meslo_lg_sbold_italic") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meslo_lg_sbold';
    src: url("/assets/fonts/meslo/meslolgs-bold-webfont.eot");
    src: url("/assets/fonts/meslo/meslolgs-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/meslo/meslolgs-bold-webfont.woff2") format("woff2"), url("/assets/fonts/meslo/meslolgs-bold-webfont.woff") format("woff"), url("/assets/fonts/meslo/meslolgs-bold-webfont.ttf") format("truetype"), url("/assets/fonts/meslo/meslolgs-bold-webfont.svg#meslo_lg_sbold") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    padding: 20px 40px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    content: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
html {
    font-family: "charterregular", "Georgia", serif;
    background-color: #ffffff;
    letter-spacing: 0.01rem;
    color: #171726;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 90%;
}

body {
    font-size: 1rem;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.hidden {
    display: none;
}

*::-moz-selection,
mark,
 :target {
    background: #F4EBD7;
}

*::selection,
mark,
 :target {
    background: #F4EBD7;
}

mark,
 :target {
    padding: 0.4rem;
}

*::-moz-selection mark,
*::-moz-selection+mark {
    background-color: none;
}

*::selection mark,
*::selection+mark {
    background-color: none;
}

script {
    display: none !important;
    width: 0;
    height: 0;
}

a {
    text-decoration: underline;
    color: inherit;
    outline: none;
    color: #171726;
    font-family: "charterregular", "Georgia", serif;
    font-style: normal;
    cursor: pointer;
    display: inline;
    overflow: visible;
    position: relative;
}

a:hover,
a:active,
a:visited,
a:focus {
    outline: none;
}

a.light {
    color: #A9ACB5;
    text-decoration: none;
}

a.light:hover {
    text-decoration: underline;
}

hr {
    display: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #a9acb5;
    margin-bottom: 40px;
    opacity: 0.2;
}

hr:last-child {
    margin-bottom: 0;
}

br {
    margin-bottom: 40px;
}

sup,
sub {
    font-size: 0.8rem;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}

ol,
ul {
    list-style-position: outside;
    padding-left: 2rem;
}

ol>li a,
ul>li a {
    display: inline-block;
}

ol {
    list-style-type: upper-roman;
    counter-reset: item;
}

ol>li:before {
    content: counter(item, upper-roman) ". ";
    counter-increment: item;
    color: #A9ACB5;
    position: absolute;
    text-align: right;
    left: -2rem;
    width: 1.5rem;
    font-size: 0.9rem;
}

ul>li:before {
    content: "◆";
    color: #A9ACB5;
    position: absolute;
    text-align: right;
    left: -2rem;
    width: 1.5rem;
    font-size: 0.9rem;
}

h1,
h2,
h3 {
    overflow: auto;
}

h1 {
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    font-size: 1.25rem;
    margin: 10px 0;
}

h2 {
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    color: #A9ACB5;
    font-size: 1.07rem;
    margin: 10px 0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 30px 0 30px;
    font-family: "charterbold", "Georgia", serif;
}


h4 {
    text-transform: lowercase;
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    color: #A9ACB5;
    font-size: 0.9rem;
    margin: 30px 0 10px;
    overflow: visible;
}

p,
form label,
li {
    position: relative;
    display: block;
    overflow: visible;
    line-height: 1.6rem;
    letter-spacing: 0.01rem;
}

code {
    font-family: "SF Mono", "meslo_lg_sregular", "Menlo", "Source Code Pro", monospace;
    font-size: 0.9rem;
}


picture {
    overflow: hidden;
}

picture>* {
    overflow: visible;
}


blockquote {
    border-left: 5px solid #F4EBD7;
    padding: 0.3rem 0 0.3rem 1.5rem;
    margin: 0.5rem 0;
    color: #787c8b;
}

blockquote cite {
    font-family: "charterregular", "Georgia", serif;
    font-style: normal;
    display: block;
}

blockquote cite:before {
    content: "\2014 \2009";
}

strong {
    font-weight: 300;
    font-family: "charterbold", "Georgia", serif;
}

em {
    font-family: "charteritalic", "Georgia", serif;
    font-style: italic;
}

em strong,
strong em {
    font-weight: 300;
    font-style: italic;
    font-family: "charterbold_italic", "Georgia", serif;
}
